@import url('normalize.css');
@import url('utils.css');
@import url('components/notification.css');
@import url('components/header.css');
@import url('components/trainer.css');

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
  box-sizing: border-box;
  color: var(--black);
  font-family: montserrat, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--background);
  /* background-image: radial-gradient(
    oklch(0.88 0.0148 264.49) 1.5px,
    transparent 1.5px
  ); */
  background-attachment: fixed;
  background-size: 25px 25px;
  color: var(--white);
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
  user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--white);
}

a {
  text-decoration: none;
}

strong {
  color: var(--secondary);
  font-weight: 700;
}
