.cursor-1, .cursor-1-preview {
    background-color: oklch(from var(--black) l c h / calc(alpha - 0.75));
    border-radius: 50%;
    height: 1rem;
    aspect-ratio: 1/1;
}

.cursor-2, .cursor-2-preview {
    font-size: 3rem;
    font-weight: 200;
}

.cursor-3, .cursor-3-preview {
    font-weight: 700;
}
